.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply bg-white;
  @apply p-4;

  &__title {
    font-size: clamp(12px, 1.24992vw, 48px);
    @apply font-bold;
    @apply text-secondary;
  }
}
