.input {
    width: clamp(175px, 18.228vw, 700px);
    height: clamp(27.5px, 2.8644000000000003vw, 110px);
    border-radius: 6px;
    border: 1px solid rgba(255, 147, 114, 0.50);
    @apply mt-2;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    text-indent: clamp(8px, 0.83328vw, 32px);
}

.input::placeholder {
    font-family: "Inter", sans-serif;
    font-size: clamp(8px, 0.83328vw, 32px);
    font-weight: 400;
}