.chats_menu {
  width: clamp(200px, 20.832vw, 800px);
  overflow-y: auto;
  @apply bg-white;
  @apply text-secondary;
  @apply ml-8;

  &__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @apply mt-8;
    @apply mb-16;

    &__title {
      font-size: clamp(16px, 1.66656vw, 64px);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @apply text-secondary;
    }
  }
}
