.text_field {
  width: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 10%;
  @apply text-base;
  @apply bg-white;
  @apply text-secondary;
  @apply p-4;
  @apply rounded-lg;
  @apply bottom-6;

  &__input {
    width: 80%;
    outline: none;
    @apply text-base;
    @apply text-secondary;
    &:hover {
      outline: none;
    }
  }

  &__icon {
    cursor: pointer;
    transition: 0.3s all;
    @apply text-lg;
    @apply text-primary;
    &:hover {
      @apply text-functional;
    }
  }
}
